@keyframes bubble {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-150vh) scale(1.05); //
    opacity: 0;
  }
}

@keyframes twinkle {
  0% {
    opacity: 0.1;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}

.central-div {
  position: fixed;
  background: rgba(136, 136, 136, 0.85);
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100px;
  height: 70px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    letter-spacing: 2px;
    color: white;
    font-size: 2.5rem;
    margin: 0;
    font-family: "ImperialScript", sans-serif;
  }
}
