@keyframes bubble {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  80% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(-120vh) scale(1.5);
    opacity: 0;
  }
}

@keyframes twinkle {
  0% {
    opacity: 0.1;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}

.central-div {
  width: 300px;
  height: 300px;
  background-color: rgb(207, 135, 135);
  margin: 200px auto;
  border-radius: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
