.Drawing-page {
  display: grid;
  grid-template-columns: 15% 85%;
  background: rgb(212, 245, 224);
  min-height: 100vh;

  .left {
    display: flex;
    flex-direction: column;
    gap: 150px;
    align-items: center;
    .navigation-part {
    }
    .tools-part {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      background: #f0f0f0;
      padding: 15px;
      border-radius: 10px;
      width: 200px;

      h3 {
        margin-bottom: 10px;
      }

      .tool-group {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        label {
          margin-bottom: 5px;
          font-weight: 500;
        }
      }

      button {
        margin-top: 5px;
        width: 100%;
        padding: 8px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background: #aaa;
        color: #fff;
        font-weight: bold;
        &:hover {
          background: #888;
        }
      }
    }
  }

  .box-drawing {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    .h1-box {
      margin-top: 23px;
      background: rgba(110, 145, 143, 0.795);
      padding: 15px;
      border-radius: 10px;

      h1 {
        font-size: 3rem;
        font-weight: 700;
        background: linear-gradient(
          90deg,
          #fdb7d5,
          #f8d8ac,
          #a5e5fa,
          #baa2f7,
          #aafac1
        );
        -webkit-background-clip: text;
        color: transparent;
      }
    }

    .drawing-wrapper {
      border: 2px solid rgb(180, 180, 180);
      margin: 0 auto;
      width: 80vw;
      height: 80vh;
      border-radius: 20px;
      overflow: hidden;
      background: #ffffff;
      position: relative;

      background-image: none(rgba(200, 200, 255, 0.07) 1px, transparent 1px),
        radial-gradient(rgba(200, 200, 255, 0.05) 1px, transparent 1px);
      background-size: 40px 40px, 60px 60px;

      canvas {
        display: block;
        width: 100%;
        height: 100%;
        cursor: crosshair;
      }
    }
  }
}
