.quiz-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  background: url(/img/snow.jpg) center/cover;

  @media (max-width: 400px) {
    height: 120vh;
  }

  .quiz-intro {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .h1-intro {
      letter-spacing: 2px;
    }

    .button-intro {
      height: 40px;
      letter-spacing: 1px;
      font-size: 1rem;
      cursor: pointer;
    }
  }

  .quiz-end {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background: rgba(238, 238, 238, 0.295);
    padding: 40px;
    border-radius: 20px;

    h1 {
      text-align: center;
    }

    .button-end {
      height: 40px;
      letter-spacing: 1px;
      font-size: 1rem;
      cursor: pointer;
      padding: 10px;
    }
  }

  .quiz-start {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 40px;
    background: rgba(238, 238, 238, 0.295);
    border-radius: 20px;

    h2 {
      text-align: center;
      line-height: 33px;

      @media (max-width: 500px) {
        font-size: 1.3rem;
        line-height: 28px;
      }
    }

    p {
      text-align: center;
      line-height: 27px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .good-answer {
        background: rgba(0, 255, 0, 0.3);
      }

      .bad-answer {
        background: rgba(255, 0, 0, 0.3);
      }

      li {
        cursor: pointer;
        padding: 10px;
        display: flex;
        border: 2px solid;
        font-size: 1.1rem;
        letter-spacing: 2px;

        justify-content: center;
        &:hover {
          background: rgba(238, 238, 238, 0.582);
        }
      }
    }

    .button-next {
      padding: 12px;
      cursor: pointer;
    }
  }
}
