.container-test {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 999999;
  overflow: hidden;

  .video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 200px;
    width: 200px;
    background: #817e7e9e;
    border-radius: 3000px;
    cursor: pointer;

    .write {
      text-align: center;
      color: white;
    }
  }
  .appearance {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.438);
    height: 400px;
    width: 400px;
    border-radius: 30px;

    button {
      padding: 15px;
    }
  }
}
