@font-face {
  font-family: "Josefin";
  src: url("../assets/fonts/JosefinSans-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "ImperialScript";
  src: url("../assets/fonts/ImperialScript-Regular.ttf");
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin", sans-serif;
}

body {
  overflow-x: hidden;
  cursor: default;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}
