@import "./settings";
@import "./components/navigation";
@import "./pages/home";
@import "./pages/quiz-game";
@import "./pages/test";
@import "./pages/carousel";
@import "./pages/shop";
@import "./pages/cinema-quiz";
@import "./pages/carouselFilm";
@import "./pages/form";
@import "./pages/drawing";
@import "./pages/bubbleGenerator";
